
  @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Lexend Deca', sans-serif;
}

body {
  margin: 0;
  background: #F4F4F4;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}
.slide-in-left-enter-active {
transform: translateX(0);
opacity: 1;
transition: all 200ms;
}

.slide-in-left-exit {
transform: translateX(0);
opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
main{
  display: flex;
  margin-top: 0px;
  padding: 0;
}