.pickgradient {
  
  height: 25%;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 75%,
    #F4F4F4 100%
  ); /* W3C */
}
.carousel-item__image {
  height: 55vh;
  width: 100%;
  background-size: cover;
  position: relative;
  z-index: -1;
  display: block;
}
@media (max-width: 730px) {
  .carousel-item__image {
    overflow-clip-margin: content-box;
    overflow: clip;
    /* object-fit: cover; */

    height: 15rem;
  }
  .pickgradient {
    height: 25%;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 75%,
      #f4f4f400 100%
    ); /* W3C */
  }
}
