.carousel-item__image {
  height: 50rem;
  width: 100%;
}
@media (max-width: 730px) {
  .carousel-item__image {
    overflow-clip-margin: content-box;
    overflow:clip;
    /* object-fit: cover; */
    
    height: 15rem;
  }
}
