main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product-section-full {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product-upper-section {
  margin-top: 3rem;
  padding-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  flex: 1;
  background-color: white;
}
.photos-slider {
  width: fit-content;
  width: -moz-fit-content;
}
.photos-slider__photo {
  width: 20rem;
  height: 20rem;
}
.product-info {
  width: 50%;
}
.product-info__name {
  font-weight: 600;
  font-size: large;
}
.product-info__provider-website {
  text-decoration: none;
  color: #a0a8ed;
}
.star {
  color: gold;
}
.product-info__price {
  font-weight: 500;
  font-size: 2rem;
  margin: 1rem auto;
}
.discount {
  color: red;
}
.purchase-controls {
  width: 30%;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  border: 1px solid #aaa;
  height: fit-content;
  padding: 3rem;
  border-radius: 12px;
  margin-right: 1rem;
}
.purchase-controls__header-icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.purchase-controls__header-icon {
  color: blue;
}
.purchase-controls__header-price {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 2rem;
}
.stoke {
  color: rgb(0, 161, 0);
  font-weight: 400;
}
.purchase-controls__add-to-cart,
.purchase-controls__buy-now {
  height: 3rem;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: large;
  border: none;
  box-shadow: 1px 1px 3px black;
  border-radius: 16px;
  cursor: pointer;
}
.purchase-controls__add-to-cart {
  background-color: #ffd600;
}
.purchase-controls__buy-now {
  background-color: #ff971e;
}
.hello-im-under {
  display: none;
}
hr {
  margin: 2rem auto;
  color: #aaa;
}

.product-reviews__comments {
  display: flex;
  flex: 1;
  background-color: white;
  flex-direction: row;
  gap: 9rem;
}
.product-reviews__comments-section {
  width: 50%;
}
.product-reviews__comments-section-reviews {
  margin-bottom: 2rem;
}
.fill-bar {
  margin: 0.5rem;
  height: 2rem;
  background-color: white;
  border: 3px solid #aaa;
}

.user-details-image-name,
.user-details-stars {
  display: flex;
  align-items: center;
}
.user-details-stars {
  width: 100%;
}

.user-details-stars {
  flex-wrap: wrap;
}
.user-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  flex: 1;
}

.user-details-image {
  width: 5rem;
  height: 4rem;
  border-radius: 50%;
}
.product-lower-section {
  width: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@media (max-width: 1060px) {
  .product-upper-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .product-info,
  .purchase-controls {
    width: 100%;
    padding: 0 2rem;
  }
  .product-lower-section {
    margin-bottom: 4rem;
  }
  .product-info__name {
    font-size: large;
  }
  .product-info__price {
    font-size: large;
  }
  .product-info__VAT {
    font-size: medium;
  }
  .photos-slider {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .photos-slider {
    width: 75%;
  }
  .purchase-controls {
    margin: 0;
    padding: 0;
    border: none;
    width: 75%;
  }
  .purchase-controls__header-icon-container h2,
  .purchase-controls__header-price {
    font-size: large;
  }
  .purchase-controls__header-price-VAT {
    font-size: medium;
  }
  .purchase-controls__header-icon {
    display: none;
  }
  .hello-im-under {
    display: flex;
    margin: -1rem;
  }
  .product-info__description h2 {
    font-size: large;
  }
  .product-info__description p {
    font-size: medium;
  }
  .product-reviews__comments {
    flex-direction: column;
    margin: 0 auto;
    gap: 1rem;
  }
  .product-reviews__comments-section {
    display: flex;
    width: 100%;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
  }
  .product-reviews__comments-stars {
    padding: 0 2rem;
  }
  .product-lower-section {
    display: none;
  }
}
.product-reviews__comments-section-button {
  background-image: linear-gradient(90deg, orange, #e7ca61);
  transition: all 1s ease-in-out;
  cursor: pointer;
}
.product-reviews__comments-section-button:disabled {
  background-image: none;
  cursor: default;
}
