.main-header {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #161b35;
  color: white;
  padding: 0 1rem;
  gap: 1rem;
  height: 4.5rem;
  z-index: 5;
}
.main-navigation__search {
  width:100%;
  height: 1.9rem;
}
.main-navigation__location {
  display: flex;
  flex-wrap: nowrap;
  font-size: 10px;
  width: 5rem;
}
.secondary {
  width: 100%;
  background-color: #252d58;
  height: 2.1rem;
}
.main-navigation__location div,
.secondary div {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.main-navigation__location-text p {
  margin: 0%;
}
.main-navigation__location-text-dimmed {
  color: #aaaaaa;
  font-weight: 300;
}
.main-navigation__location-text-location {
  color: #ffffff;
  font-weight: 500;
}
.main-navigation__location-text {
  flex-direction: column;
  flex-wrap: wrap;
}

.main-navigation__header-nav {
  display: none;
}
.main-navigation__header-nav-port{
  display: flex;
}
.main-navigation__header-nav-port .tags,.tags a{
gap:2rem;
text-decoration: none;
color: white;
}

@media (max-width: 768px) {
  .main-navigation__header-nav {
    display: flex;
  }
  .main-navigation__header-nav-port{
    display: none;
  }
  .main-navigation__location {
    display: none;
  }
  .main-navigation__logo {
    display: none;
  }
  .main-navigation__menu {
    display: none;
  }
  .main-navigation__search {
    width: 50rem;
    height: 2.7rem;
    margin: 1rem auto;
  }
}

.nav-links {
  display: none;
}
@media (max-width: 768px) {
  .nav-links-container {
    border: 2px solid #aaaaaa;
    padding-top: 1rem;
    display: flex;
    bottom: 0;
    width: 100%;
    justify-content: center;
    position: fixed;
    margin: 0 auto;
    /* justify-content: space-between; */

    align-items: center;
  }
  .nav-links {
    display: flex;
    flex-direction: row-reverse;
    gap: 4rem;
    bottom: 0;
    justify-content: space-between;
  }

  .nav-links a {
    text-decoration: none;
    color: #161b35;

    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
  }

  .nav-links a p {
    width: 100%;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 468px) {
    .nav-links {
        gap: 2rem;
        font-size: medium;
    }
}
@media (max-width: 280px) {
    .nav-links {
        gap: 1.6rem;
        font-size: small;
    }
}
