.searchInputs {
  /* margin-top: 105px; */
  display: flex;
  height: 2.3rem;
}

.search input {
  background-color: white;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 100%;
  border-radius: 6px 0 0 6px;
  height: 2.3rem;

  /* width: 300px; */
}

.searchIcon {
  background-color: rgb(228, 221, 160);
  display: grid;
  /* padding-left: .5rem; */
  width: 2rem;
  place-items: center;
  border-radius: 0px 6px 6px 0px;
}

input:focus {
  outline: none;
}
.searchIcon svg {
  font-size: 35px;
  margin: 0;
}

.dataResult {
  margin-top: 5px;
  width: 70vh;
  height: 60vh;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  z-index: 77;
  padding: 1vh;
  transition: all 0.4s ease-out;
}
.openModal {
  animation: OpenModal 0.4s ease-out forwards;
}
@keyframes OpenModal {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  50% {
    opacity: 1;
    transform: translateY(1%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.closeModal {
  animation: CloseModal 0.4s ease-out forwards;
}
@keyframes CloseModal {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  50% {
    opacity: 0.5;
    transform: translateY(50%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100%;
  height: 50;
  display: flex;
  align-items: center;
  color: black;
}
.dataItem div{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2rem
}
.dataItem img {
  border-radius: 12px;
  width: 3rem;
  height: 3rem;
}
.dataItem p {
  margin-left: 10px;
}
.dataItem {
  text-decoration: none;
}
@keyframes coolEffect {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.dataItem:hover {
  background-color: lightgrey;
  animation: coolEffect 0.1s ease-out forwards;
}

#clearBtn {
  cursor: pointer;
}
