.login-container{
margin-top: 3rem;
}
.login {
  border: 1px #aaa solid;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 2.5rem;
  justify-content: flex-start;
}
.errMsg {
  color: red;
}
.offscreen {
  display: none;
}
.login h2 {
  margin: 0;
  margin-bottom: 0.5rem;
}
.login-form {
  display: flex;
  flex-direction: column;
}
.login-form label {
  font-weight: 500;
}
.change-mode-btn {
  margin: 1rem auto;
  align-items: center;
  height: 2.5rem;
  font-weight: 500;
  font-size: 12px;
  padding: 0 1rem;
  border-radius: 6px;
  background-color: #aaaaaa46;
  box-shadow: 1px 1px rgba(255, 255, 255, 0.203);

  border: 1px solid rgba(255, 255, 255, 0.203);
  cursor: pointer;
}

.submit-btn {
  margin: 2rem 0;
  cursor: pointer;
  font-weight: 600;
  font-size: larger;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.358);
  border: 1px solid rgba(0, 0, 0, 0.358);
  border-radius: 6px;
  height: 2rem;
  background-color: #fe6b00;
  color: white;
}
.form-control-auth {
  margin: 1rem 0 0;
}

.form-control-auth label,
.form-control-auth input,
.form-control-auth textarea {
  display: block;
}

.form-control-auth label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control-auth input,
.form-control-auth textarea {
  width: 100%;
  font: inherit;
  color: white;
  border: 1px solid #aaa;
  background-color: rgba(255, 255, 255, 0);
  padding: 0.5rem 0.65rem;
}

.form-control-auth input:focus,
.form-control-auth textarea:focus {
  outline: none;
  background: #ebebeb00;
  border-color: #ff8400;
}

.form-control-auth--invalid label,
.form-control-auth--invalid p {
  color: red;
}

.form-control-auth--invalid input,
.form-control-auth--invalid textarea {
  border-color: red;
  background: #ffd1d131;
}
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-small {
  font-size: small;
  font-weight: 400;
}
@media (max-width: 768px) {
  .login {
    width: 20rem;
  }
}
