.first-section {
    display: flex;
  height: 20vh;
  background-color: #252d58;
}
.second-section {
    display: flex;

  height: 30vh;
  background-color: #161b35;
}
@media (max-width: 768px) {
  .first-section,
  .second-section {
    display: none;
  }
}
