
.product-section {
  padding: 2rem;
  z-index: 0;
  width: 100%;
  background-color: white;
}
.product-section-s{
  background-color: transparent;
}
.product-section-container {
  margin-bottom: 0.5vh;
}
.product-section h1 {
  margin-left: 1rem;
  display: flex;
}
.hero-section {
  position: relative;
  margin: 0;
  padding: 0;
  height: auto;
}
.hero-section .hero-img {
  width: 100%;
}
.category-container {
  position: relative;
  top: -14.5rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
  margin-bottom: -12rem;
}
.category-box,
.recommendations-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  /* padding: 1rem; */
  text-decoration: none;
}

.category-box div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background-color: white;
}
/* .category-box p {
  margin: 0.5vh;
} */
.category-box img {
width: 100%;
}
.product--image {
  width: 100%;
  height: 16em;
  object-fit: cover;
}



.recommendations-box {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.recommendations-box h1 {
  display: flex;
}

.recommendations-box-picks {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

@media (min-width: 767px) and (max-width: 1005px) {
  .category-container {
    top: -11rem;
    margin-bottom: -8rem;
  }
}
@media (max-width: 768px) {
  .category-container {
    top: 0rem;

    margin: 2rem auto;
  }
  .product-recommendations-container {
    margin-bottom: 4rem;
  }
}
.m-section {
  display: none;
}
.single-category-container {
  display: flex;
  flex-direction: row;
}
.category-links {
  padding: 3rem 4rem 3rem 0rem;
  border-right: 1px solid #aaaa;
  width: 17rem;
  margin: 1rem;
}

.search-result {
  border: 1px solid #aaaa;
  padding: 0 1rem;
  border-radius: 12px;
  margin-bottom: 2rem;
}
.search-result span {
  color: #ff6b00;
}

.category-products {
  display: flex;
  flex-wrap: wrap;
}
.category-product {
  display: flex;
  flex-direction: column;
  width: 20rem;
  text-decoration: none;
  color: black;
}
.category-product img {
  width: 18rem;
  height: 18rem;
  margin: 0;
}
.see-results {
  color: #00a0aa;
  border: 1px solid #aaaa;
  padding: 0 1rem;
  border-radius: 12px;
  margin-bottom: 2rem;
  /* align-items: center; */
  text-align: center;
}
@media (max-width: 768px) {
  .single-category-container {
    flex-direction: column;
  }
 
  .category-title {
    font-size: 24px;
  }
  .category-description {
    font-size: 13px;
  }
  .category-links {
    display: none;
  }
  .category-products {
    align-items: center;
    justify-content: center;
  }
  .category-product {
    display: flex;
    flex-direction: column;
    width: 10rem;
    font-size: 10px;
    margin-right: 1rem;
  }
  .category-product img {
    width: 10rem;
    height: 10rem;
    margin: 0;
  }

  .see-results {
    font-size: 10px;
    margin-bottom: 6rem;
  }
  .category-content {
    padding: 1rem;
  }
}
@media (max-width: 390px) {
  .category-product {
    width: 9rem;
    font-size: 10px;
    margin-right: 1rem;
  }
  .category-product img {
    width: 9rem;
    height: 9rem;
    margin: 0;
  }
}
