
.product-section-s{
  background-color: transparent;
}
.category-page-container {
  position: relative;
  top: -14.5rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* margin: 0 auto; */
  margin-bottom: -12rem;
}
.category-box,
.recommendations-box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 35vh;
 
  text-align: start;
  display: flex;
  flex-direction: column;
  max-height: fit-content;
  
  background-color: white;
  text-decoration: none;
}

.category-box {
  padding: 0.5rem 1rem;
  justify-content: flex-start;
}

.category-box div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
}
/* .category-box p {
  margin: 0.5vh;
} */
.category-box img {

  align-self: center;
}



.recommendations-box {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.recommendations-box h1 {
  display: flex;
}

.recommendations-box-picks {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

@media (min-width: 767px) and (max-width: 1005px) {
  .category-page-container {
    top: -11rem;
    margin-bottom: -8rem;
  }
}
@media (max-width: 768px) {
  .category-page-container {
    top: 0rem;
    margin: 3rem auto;
    gap: 0.4rem;
    
  }
  
  .category-box {
    width: 12rem;
    height: 18rem;
    padding: 0.225rem 1vh;
    /* justify-content: flex-start; */
    overflow: hidden;
  }
  .category-box div{
    align-items: center;
  }
  .category-box h3 {
    font-size: medium;
  }

  .category-box p {
    font-size: small;
  }
  .category-box img {
    overflow: hidden;
    width: 10rem;
    height: 10rem;
  }

  .special {
    width: fit-content;
    height: fit-content;
  }
  .category-box h2 {
    margin: 0;
  }

  .product-recommendations-container {
    margin-bottom: 4rem;
  }
}
.m-section {
  display: none;
}
.single-category-container {
  display: flex;
  flex-direction: row;
}
.category-links {
  padding: 3rem 4rem 3rem 0rem;
  border-right: 1px solid #aaaa;
  width: 17rem;
  margin: 1rem;
}

.search-result {
  border: 1px solid #aaaa;
  padding: 0 1rem;
  border-radius: 12px;
  margin-bottom: 2rem;
}
.search-result span {
  color: #ff6b00;
}

.category-products {
  display: flex;
  flex-wrap: wrap;
}
.category-product {
  display: flex;
  flex-direction: column;
  width: 20rem;
  text-decoration: none;
  color: black;
}
.category-product img {
  width: 18rem;
  height: 18rem;
  margin: 0;
}
.see-results {
  color: #00a0aa;
  border: 1px solid #aaaa;
  padding: 0 1rem;
  border-radius: 12px;
  margin-bottom: 2rem;
  /* align-items: center; */
  text-align: center;
}
@media (max-width: 768px) {
  .single-category-container {
    flex-direction: column;
  }
 
  .category-title {
    font-size: 24px;
  }
  .category-description {
    font-size: 13px;
  }
  .category-links {
    display: none;
  }
  .category-products {
    align-items: center;
    justify-content: center;
  }
  .category-product {
    display: flex;
    flex-direction: column;
    width: 10rem;
    font-size: 10px;
    margin-right: 1rem;
  }
  .category-product img {
    width: 10rem;
    height: 10rem;
    margin: 0;
  }

  .see-results {
    font-size: 10px;
    margin-bottom: 6rem;
  }
  .category-content {
    padding: 1rem;
  }
}
@media (max-width: 390px) {
  .category-product {
    width: 9rem;
    font-size: 10px;
    margin-right: 1rem;
  }
  .category-product img {
    width: 9rem;
    height: 9rem;
    margin: 0;
  }
}
