.home-container {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  flex-direction: column;
}
.product-section {
  padding: 2rem;
  z-index: 0;

  background-color: white;
}
.product-section-container{
  margin-bottom: 0.5vh;
}
.product-section h1{
  margin-left: 1rem;
  display: flex;


}
.hero-section {
  position: relative;
  margin: 0;
  padding: 0;
  height: auto;
}
.hero-section .hero-img {
  width: 100%;
}
.category-container {
  position: relative;
  top: -14.5rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
  margin-bottom:-12rem ;
}
.category-box ,.recommendations-box {
  background-color: white;
  padding: 1rem;
}

/*
@media (max-width:720px) {
  .category-box{
    width: 30vh;
    height: 40vh;
  }
  .category-box img{
    width: 20vh;
    height: 20vh;
    overflow: hidden;
  }

} */
.product--image {
  width: 100%;
  height: 16em;
  object-fit: cover;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 320px;
  margin: auto 1rem;
  text-align: center;
  
  
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #161b35;

  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.recommendations-box{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  
}
.recommendations-box h1{
display: flex;
}


.recommendations-box-picks{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.category-box{
  width: 40vh;
  
}
.category-box img{
  width: 30vh;
  height: 30vh;
  overflow: hidden;
}
.special{
  width: fit-content;
  height: fit-content;
}
.category-box-name{
  font-size: 2.5vh;
  font-weight: 600;
}
@media (max-width:768px) {
  .category-container {
    display: none;
  }
  .category-box{
    width: 12rem;
    height: 20rem;
    overflow: hidden;
  }
  .category-box img{
    overflow: hidden;

    width: 10rem;
    height: 10rem;
  }
  
  .special{
    width: fit-content;
    height: fit-content;
  }
  .category-box h2{
  margin: 0;
  }
  .product-recommendations-container{
    margin-bottom: 4rem;
  }
  
}
@media (max-width:390px ){
  .category-box{
    width: 10rem;
    height: 14rem;
  }
  .category-box img{
    width: 8rem;
    height: 8rem;
  }
  .category-box h2{
    font-size: medium;
    margin-bottom: 1rem;
    }
}

